@use 'sprucecss/scss/spruce' as *;

.l-post {
  --gtc: minmax(0, 1fr);

  display: grid;
  gap: get-css-variable(--container-gap);
  grid-template-columns: var(--gtc);

  @include breakpoint('lg') {
    --gtc: minmax(0, 1fr) minmax(0, 15rem);
  }

  &__toc {
    @include breakpoint('lg') {
      order: 2;
    }

    .toc {
      inset-block-start: spacer('l');
      position: sticky;
    }
  }

  .post-heading {
    @include breakpoint('lg') {
      grid-column: 1 / 3;
    }
  }
}

.nav-container {
  max-width: 800px;
  margin: 0 auto;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-flex;

      a {
        text-decoration: none;
        color: darkgray;
        padding: 10px;
        transition: all .3s ease-in-out;
        border-bottom: 1px solid transparent;
        &:hover {
          color: gray;
        }
      }
    }
  }

  .nav .active a {
    color: slateblue;
    border-bottom: 1px solid slateblue;
    &:hover {
      border-color: transparent;
      background: slateblue;
      color: white;
    }
  }

  .tab-pane {
    display: none;
  }

  .tab-pane.active {
    display: block;
  }
}