name: Build

on:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!website/**'
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**'
      - '!website/**'

jobs:
  build:
    name: Build and Analysis
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        run: ./gradlew build

      - name: Sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar -Dsonar.branch.name ${{ github.head_ref || github.ref_name }}